@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    margin: 0;
}
.outer {
    min-height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.outerInner {
    width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  
}